
<div class="container-fluid bg-white" >
    <div class="text-center" style="font-size: 5rem;">JSONP Rest Api</div>
    <div class="text-center">Fake Online REST API for Testing and Prototyping </div>
    <div style="font-size: 2rem;">Example {{a1}}</div>

    
    <pre><code id="js" class="javascript" style="font-size: 1rem;">
    
      </code>
    </pre>
    <button type="button" class="btn btn-primary" ng-click="fun1()"> Call Api</button>
    <pre><code id="result" class="json"></code></pre>
</div>
