
<div class="container-fluid bg-white" >
        <table class="table">
                <thead>
                        
                        <tr>
                                <th scope="col"><button type="button" class="btn btn-primary" ng-click="init()"> Refrest</button></th>
                                <th scope="col">Data Type</th>
                                <th scope="col">Data</th>
                                
                              </tr>

                </thead>
                <tbody>
                    <tr ng-repeat="d in key">
                        <td>{{$index+1}}</td>
                        <th>{{d}}</th>
                        <td>{{data[d]}}</td>
                    </tr>
                </tbody>
            </table>
</div>